{% extends "auctions/layout.html" %}

{% block body %}

{% load static %}

    <div class="container-fluid my-5">

        <div id="hero" class="p-5 text-center rounded-3">

            <i class="bi bi-tag-fill"></i>

            <div class="separator mt-3 mb-3 rounded-3"></div>

            <h2 class="text-white">Categories</h2>

        </div>

    </div>

    <div class="container mt-4">

        {% for category in categories %}

            {{ category }}

        {% endfor %}

        <div class="row">

            {% for category in categories %}

                <div class="col-sm-6 col-md-3">

                    <div class="card mb-2">

                        <div class="card-body">

                            <h5 class="card-title">{{ category.cat_name }}</h5>

                            <a href="{% url 'auctions:view_category' category.id %}" class="btn btn-primary">Go somewhere</a>

                        </div>

                    </div>

                </div>

            {% endfor %}

        </div>

    </div>


{% endblock %}