{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Create a listing</h2>

    <form>

        <div class="mb-3">

            <label for="listing-title" class="form-label">Title</label>
            <input type="text" class="form-control" id="listing-title" placeholder="An Amazing Product!!">

        </div>

        <div class="mb-3">

            <label for="listing-description" class="form-label">Description</label>
            <textarea class="form-control" id="listing-description" rows="3"></textarea>

        </div>

        <div class="mb-3">

            <label for="listing-img" class="form-label">Image</label>
            <input class="form-control" type="file" id="listing-img">
            
        </div>

    </form>

{% endblock %}