{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>

        <title>{% block title %}Auctions{% endblock %}</title>
        
        <!--old version of bootstrap -->
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">-->

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

    </head>
    <body>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">

            <div class="container-fluid">

                <a class="navbar-brand" href="#">Auctions50!</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'auctions:index' %}">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'auctions:index' %}">Active Listings</a>
                        </li>

                        {% if user.is_authenticated %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'auctions:create_listing' %}">Create a listing</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'auctions:logout' %}">Log Out</a>
                            </li>

                        {% else %}

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'auctions:login' %}">Log In</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'auctions:register' %}">Register</a>
                            </li>
                            
                        {% endif %}
                        
                    </ul>

                    <span class="navbar-text">
                        {% if user.is_authenticated %}
                            Signed in as <strong>{{ user.username }}</strong>.
                        {% else %}
                            Not signed in.
                        {% endif %}
                    </span>

                </div>

            </div>

        </nav>

        <div>

            {% block body %}
            {% endblock %}
            
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
