{% extends "auctions/layout.html" %}

{% block body %}

    <div class="container-fluid my-5">

        <div id="hero" class="p-5 text-center rounded-3">

            <i class="bi bi-person-fill-add"></i>

            <div class="separator mt-3 mb-3 rounded-3"></div>

            <h2 class="text-white">Register</h2>

        </div>

    </div>

    <div class="container mt-4">

        <form action="{% url 'register' %}" method="post">

            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" autofocus type="text" name="username" placeholder="BrianYu50">
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email Address</label>
                <input class="form-control" type="email" name="email" placeholder="byu@harvard.com">
            </div>

            <div class="mb-3">

                <label for="password" class="form-label">Password</label>
                <input class="form-control" type="password" name="password" placeholder="Password">

            </div>

            <div class="mb-3">

                <label for="confirmation" class="form-label">Confirm Password</label>
                <input class="form-control" type="password" name="confirmation" placeholder="Confirm Password">

            </div>

            <input class="btn btn-primary" type="submit" value="Register">

        </form>

        {% if message %}
            <div class="alert alert-danger mt-3" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i> {{ message }}
            </div>
        {% endif %}

        <div class="mt-3">
            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
        </div>

    </div>
    
{% endblock %}