{% extends "auctions/layout.html" %}

{% block body %}

{% load static %}

    {% if listing %}

        <div class="container-fluid my-5">

            <div id="hero" class="p-5 text-left rounded-3">

                <h2 class="text-white">{{listing.title}}</h2>

            </div>

        </div>

        <div class="container mt-4">

            <div class="row">
                <div class="col-4">

                    {% if listing.img_url %}

                        <img src="{{ listing.img_url }}" class="img-fluid" alt="...">

                    {% else %}

                        <img src="{% static 'auctions/img/no-img_placeholder.png' %}" class="img-fluid" alt="Placeholder image">

                    {% endif %}

                </div>
                <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
            </div>

        </div>
    
    {% else %}

        <div class="container mt-4">

            <div class="alert alert-danger mt-3" role="alert">
                <i class="bi bi-exclamation-circle-fill"></i> This listing does not exist
            </div>

        </div>

    {% endif %}

{% endblock %}