{% extends "auctions/layout.html" %}

{% block body %}

{% load static %}

    <div class="container-fluid my-5">

        <div id="hero" class="p-5 text-center rounded-3">

            <i class="bi bi-tag-fill"></i>

            <div class="separator mt-3 mb-3 rounded-3"></div>

            <h2 class="text-white">View a category:</h2>

            <h4 class="text-white mt-3">{{ category.cat_name }}</h4>

        </div>

    </div>

    <div class="container mt-4">

        <div class="row" data-masonry='{"percentPosition": true }'>
            {% for listing in listings %}

                <div class="col-sm-4 mt-3">

                    <div class="card">

                        {% if listing.img_url %}

                            <img class="card-img-top" src="{{ listing.img_url }}">

                        {% else %}

                            <img src="{% static 'auctions/img/no-img_placeholder.png' %}" class="card-img-top" alt="Placeholder image">

                        {% endif %}

                        <div class="card-body">

                            <h3 class="card-title">{{ listing.title }}</h3>
                            <p class="card-text">{{ listing.description }}</p>
                            <a href="{% url 'auctions:view_listing' listing.id %}" class="btn btn-primary"><i class="bi bi-info-circle-fill"></i> More details</a>

                            {% if user.is_authenticated and user.id != listing.creator.id %}

                                {% if listing.id in user_watchlist_ids %}

                                    <form class="mt-2" action="{% url 'auctions:remove_from_watchlist' listing.id %}" method="post" >

                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{% url 'auctions:view_category' category.id %}">
                                        <button type="submit" class="btn btn-danger"><i class="bi bi-bookmark-x-fill"></i> Remove from watchlist</button>

                                    </form>

                                {% else %}

                                    <form class="mt-2" action="{% url 'auctions:add_to_watchlist' listing.id %}" method="post" >

                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{% url 'auctions:view_category' category.id %}">
                                        <button type="submit" class="btn btn-success"><i class="bi bi-bookmark-heart-fill"></i> Add to watchlist</button>

                                    </form>

                                {% endif %}

                                

                            {% endif %}

                        </div>

                        <ul class="list-group list-group-flush h5">
                            <li class="list-group-item"><strong><i class="bi bi-person-circle"></i> Created by:</strong> {{ listing.creator.username }}</li>
                            <li class="list-group-item"><strong><i class="bi bi-calendar"></i> Created at:</strong> {{ listing.formatted_date }}</li>

                            {% if listing.category.cat_name %}
                                <li class="list-group-item"><strong><i class="bi bi-tag-fill"></i> Category:</strong> {{ listing.category.cat_name }}</li>
                            {% endif %}


                            <li class="list-group-item"><i class="bi bi-currency-exchange"></i> Price: {{ listing.formatted_bid }}</li>
                        </ul>

                    </div>

                </div>

            {% endfor %}
        </div>
        
    </div>


{% endblock %}