{% extends "auctions/layout.html" %}

{% block body %}

{% load static %}

    <div class="container-fluid my-5">

        <div id="hero" class="p-5 text-center rounded-3">

            <i class="bi bi-fire"></i>

            <div class="separator mt-3 mb-3 rounded-3"></div>

            <h2 class="text-white">My Watchlist</h2>

        </div>

    </div>

    <div class="container mt-4">

        {% if user.is_authenticated %}



        {% else %}

            <div class="alert alert-info mt-3" role="alert">
                <i class="bi bi-info-circle-fill"></i> Please make sure you're logged in to your account to create a listing
            </div>

            <div class="mt-3">

                <button type="button" class="btn btn-primary">
                    <a style="color:#fff;text-decoration:none;" href="{% url 'auctions:login' %}">
                        <i class="bi bi-person-fill-check"></i> Log in
                    </a>
                </button>

            </div>

        {% endif %}

    </div>


{% endblock %}